<h1>Welcome to Xavi's Hollywood page!</h1>
<p>Start browsing Celebs and Films:</p>


<ul>
  <li><a href="/celebrities">See the celebrities</a></li>
  <li><a href="/movies">See the movies</a></li>
</ul>